@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Moo+Lah+Lah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Borel&family=Moo+Lah+Lah&display=swap');

body{
    background-color: orangered;
    color: azure;
    background-image: url("../img/pink-beautiful-wavy-hair-pattern-top-view_188078-12757.jpeg");
}

h2{
    color: greenyellow;
    background-color: brown;
    width: 50px;
    text-align: center;
    margin: auto;
    font-family: "Moo Lah Lah", serif;
    font-weight: 400;
    font-style: normal;

}

h3{
          font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
        font-size: 90px;
        color:green;
        
        
}






